---
import Icon from "./Icon.astro";
import { iconPaths } from "./IconPaths";

const iconLinks: {
  label: string;
  icon: keyof typeof iconPaths;
}[] = [
  { label: "github", icon: "github-logo" },
  { label: "orcid", icon: "orcid-logo" },
  { label: "linkedin", icon: "linkedin-logo" },
];

const { platform, dom = "com", username, size = "2.5em" } = Astro.props;
---

<style>
  .icon-link:hover {
    color: #AD1A72;
  }
</style>

<a
  class="icon-link"
  href={`https://www.${platform}.${dom}/${username}`}
  aria-label={`An icon representing the ${platform} logo, linking to Simon Steiger's ${platform} profile.`}
>
  <Icon
    icon={iconLinks.find((link) => link.label === platform)?.icon}
    size={size}
  />
</a>
